@font-face {
  font-family: "harryFont";
  src: url("./rsrc/harryFont.TTF") format("woff2");
}
    


body {
  background-color: #101118;
  margin: 0;
}

svg {
  width : 50%;
  position : absolute;
  top : 50%;
  left : 50%;
  transition : .5s;
  transform : translate(-50%, -50%);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loaderCtn {
  position : absolute;
  width : 40%;
  top : 80%;
  left : 50%;
  height : 25px;
  background-color: rgba(248, 248, 248, 0.486);
  transform : translateX(-50%);
  border-radius: 25px;
}

.loaderBar {
  transition : 10s;
  border-radius: 25px;
  position : absolute;
  top : 0;
  left : 0;
  height : 100%;
  width : 5%;
  background-color: rgb(255, 230, 6);
  box-shadow: 0px 0px 0px 0px rgba(246, 255, 0, 0);
  opacity: .5;
}

.bg {
  display : block;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.left {
  transition : .8s;
  position : absolute;
  top : 0;
  left : -50%;
  width : 50%;
  height : 100%;
  background-color : rgb(15, 14, 19);
}
.leftOpen {
  left : 0;
}

.right {
  transition : .8s;
  position : absolute;
  top : 0;
  right : -50%;
  width : 50%;
  height : 100%;
  background-color : rgb(15, 14, 19);
}

.txt {
  color : white;
  font-family: "harryFont";
  font-size: 50px;
  margin : 0;
  width : 100%;
  text-align : center;
  z-index : 99999999
}

.a {
  position: absolute;
  top : 10%;
  left : 50%;
  transform : translateX(-50%);
  display: none;
}

.b {
  position: absolute;
  top : 17%;
  left : 50%;
  transform : translateX(-50%);
  display: none;

}

.c {
  position: absolute;
  top : 40%;
  left : 50%;
  transform : translateX(-50%);
  display: none;

}

.letter {
  display: inline-block;
  line-height: 1em;
}

.letterB {
  display: inline-block;
  line-height: 1em;
}

.letterC {
  display: inline-block;
  line-height: 1em;
}

.logopng {
  opacity: 0;
  transition : .5s;
  height : 20%;
  left : 50%;
  transform : translateX(-50%);
  top : 70%;
  position : absolute;
  cursor : pointer; 
}

.logopngActive {

  transform:translateX(-50%);
  opacity : 1;
}